.info-tooltip {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.info-tooltip_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.info-tooltip__container {
  padding: 43px 36px 51px;
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-tooltip__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -35px;
  right: -35px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/close-popup-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline-style: none;
}

.info-tooltip__close-button:hover {
  opacity: 0.6;
}

.info-tooltip__title {
  margin: 0px 0px 14px;
  width: 315px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
}

.info-tooltip__text-link {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2F71E5;
  cursor: pointer;
  outline-style: none;
}

@media screen and (max-width: 767px) {

  .info-tooltip {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .info-tooltip__container {
    padding: 16px 17px 0px;
    width: 100%;
    height: calc(100% - 74px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .info-tooltip__close-button {
    display: none;
  }
}
